header {
    display: flex;
        gap:200px;
        background-color: rgb(1, 12, 32);
        padding: 5px;
        align-items: center;
        width: 100%;
}

nav {
    display: flex; 
    gap: 10px; 
    color: white;
    align-self: baseline;
    
}

h3 {
    margin-top: 0px; 
    color: blueviolet;
}
img {
    height:350px;
    width:350px
}